<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DM_DB.Properties.Settings.PetrovConnectionString"
            connectionString="Data Source=KTYDGIK\SQLKTYDG;Initial Catalog=Petrov;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DM_DB.Properties.Settings.Lab_5ConnectionString" connectionString="Data Source=KTYDGIK\SQLKTYDG;Initial Catalog=&quot;Lab 5&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>